# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
!/vendor/
/vendor/composer/
/vendor/bi
/vendor/swiftmailer/
/vendor/yiisoft/
/vendor/bin/
/vendor/psr/
/vendor/ezyang/
/vendor/twbs/
/vendor/phpdocumentor/
/vendor/phpspec/
/vendor/nikic/
/vendor/cebe/
/vendor/autoload.php